/* tab */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active {
  clip-path: inset(0 round 6px);
}

.quick-input-widget {
  box-shadow: 0 25px 50px -8px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.5) !important;
  border-radius: 10px !important;
  padding: 8px !important;
  border-top: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.quick-input-filter .monaco-inputbox {
  border-radius: 8px !important;
  margin-bottom: 8px !important;
  font-size: 18px !important;
}

/* minimap */
.minimap-slider-horizontal {
  border-radius: 6px;
  box-sizing: border-box;
  cursor: grab;
  backdrop-filter: blur(2px);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* cursor */
.cursors-layer .cursor {
  --cyan: #64c1db;
  --magenta: #82a1f0;
  --yellow: #ff9e65;
  background: linear-gradient(
    45deg,
    var(--yellow),
    var(--cyan) 30%,
    var(--magenta)
  ) !important;
  border-radius: 2px;
  /* glow */
  /* box-shadow: 0 0 10px var(--cyan), 0 0 20px var(--cyan), 0 0 30px var(--cyan); */
}

/* remove the lines under tab & breadcrumb */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  > .tabs-and-actions-container.tabs-border-bottom:after,
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.title-border-bottom:after {
  display: none !important;
}

/* activitybar item bg */
.activitybar.left
  .composite-bar
  .monaco-action-bar.vertical
  ul.actions-container
  li {
  clip-path: inset(4px round 6px);
  transition: background 0.2s;
  transform-origin: center;
  transform: scale(0.9);
}

.activitybar.left
  .composite-bar
  .monaco-action-bar.vertical
  ul.actions-container
  li.checked,
.activitybar.left
  .composite-bar
  .monaco-action-bar.vertical
  ul.actions-container
  li:hover {
  background: #313142 !important;
}
