.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active {
  clip-path: inset(0 round 6px);
}

.quick-input-widget {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5) !important;
  border-radius: 10px !important;
  padding: 8px !important;
}

.quick-input-filter .monaco-inputbox {
  border-radius: 8px !important;
  margin-bottom: 8px !important;
  font-size: 18px !important;
}

/* minimap */
.minimap-slider-horizontal {
  border-radius: 6px;
  box-sizing: border-box;
  cursor: grab;
  backdrop-filter: blur(2px);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* cursor */
.cursors-layer .cursor {
  background: linear-gradient(
    135deg,
    rgb(127, 127, 213),
    rgb(145, 234, 228),
    rgb(134, 168, 231)
  ) !important;
  border-radius: 2px;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  > .tabs-and-actions-container.tabs-border-bottom:after,
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.title-border-bottom:after {
  display: none !important;
}

.activitybar.left
  .composite-bar
  .monaco-action-bar.vertical
  ul.actions-container
  li.checked {
  clip-path: inset(8px round 6px);
  background: #64c1db !important;
}

.monaco-workbench
  .activitybar.left
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item.checked
  .action-label.codicon {
  color: #000000 !important;
}

.monaco-workbench
  .activitybar.left
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item.checked
  .action-label.uri-icon {
  background-color: #000000 !important;
}
